venv/

mlflow/**/*
!mlflow/.gitkeep

rendu/**/*
!rendu/.gitkeep

data/**/*
!data/.gitkeep

**/artifacts/**/*
!**/artifacts/.gitkeep
**/models/**/*
!**/models/.gitkeep
**/optimize/**/*
!**/optimize/.gitkeep

.env
*.pyc